<div [appStyle]="colorFooter">

  <section class="education">
    <div class="main education">
      <div class="section-heading education">
        @if(language === 'esp'){
          <h1 class="title">Educación</h1>
          <div class="educationContent">
            <h2>Grado superior en análisis de sistemas</h2>
            Estudios Superiores de Buenos Aires
            <br>
            <small> Ciudad autónoma de Buenos Aires, Argentina, 2022</small>
            <h2>Idiomas</h2>
             Inglés C2
            <br>
            <a href="https://www.efset.org/cert/uKzEq1" class="EfCertificate" target="_blank">certificado EF.</a>
            <br>
            Español nativo
          </div>
        }
          @if(language === 'us'){
            <h1 class="title">Education</h1>
            <div class=" educationContent">
              <h2>Associate degree in Systems Analysis</h2>
              Estudios Superiores de Buenos Aires
              <br>
              <small> Ciudad autónoma de Buenos Aires, Argentina, 2022</small>
              <h2>Languages</h2>
              C2 English
              <br>
              <a href="https://www.efset.org/cert/uKzEq1" class="EfCertificate" target="_blank"> EF certificate.</a>
              <br>
              Spanish native
            </div>
          }

          <div>

          </div>
    
      </div>
    </div>
  </section>
  
</div>