.container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    height: 180px;
}

.profileImage {
  width: 150px !important;
  height: 150px;
  border-radius: 50%; /* Esto hará que la imagen sea un círculo */
  object-fit: cover; /* Ajusta la imagen para cubrir completamente el círculo */
  margin-left: 390px;
  margin-bottom: 60px;
}

.title {
    text-align: left; /* Ajusta el texto a la izquierda */
    width: 80%; /* Ajusta el ancho del título según tus preferencias */
    margin-top: 40px;
  }
  
  .title h1 {
    /* font-size: 16px; Ajusta el tamaño de fuente según tus preferencias */
    margin: 0 0 0 30px; /* Elimina el margen por defecto del h1 */
  }