<div [appStyle]="colorSecondBlock">
  <section class="contact">
    <div [@languageChange]="language" class="title" class="main">

      @if(language === 'esp'){
      <h2>Experiencia laboral.</h2>
      <ul>
        <li>Experiencia laboral como servicio al cliente.</li>
        <li>Experiencia laboral en IT como Operador de Gestión de Identidad (TCS
          España).</li>
        <li>Experiencia freelance con desarrollo front-end en Angular a partir de la versión 11+ desde 2021.</li>
      </ul>
      Si bien puede faltar experiencia, puedo ser el candidato que buscas debido a mi perfil dedicado, y estoy abierto a
      presentar referencias de antiguos empleadores.
      <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=josedamseaux@gmail.com&subject=MISSED%20CALL%20EZTRADER&body=Hello, José! %2C%0A%0A"
        target="_blank" style="text-decoration:none;">
      </a>
      }

      @if(language === 'us'){
      <h2>Work Experience.</h2>

      <ul>
        <li>Work experience as customer service.</li>
        <li>Work experience in the IT sector as Identity Management Operator (TCS Spain).</li>
        <li>Informal experience with front-end in Angular starting from version 11+ as freelancer since
          2021.</li>
      </ul>
      Although I may lack experience, I could be the candidate you are looking for due to my dedicated profile, and I am
      open to providing references from previous employers.
      <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=josedamseaux@gmail.com&subject=MISSED%20CALL%20EZTRADER&body=Hello, José! %2C%0A%0A"
        target="_blank" style="text-decoration:none;">
      </a>
      }

    </div>
  </section>
</div>
