* {
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px 0 20px 0px;
}

.ionicProjectsContiner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gymAppVideoContainer, .kaloriAppVideoContainer {
  width: 260px;
  margin: 0 50px; /* Espaciado horizontal de 10px */
}

.appVideoForGymApp, .appVideoForKaloriApp {
  height: 530px;
  width: 260px;
}

.videoDescriptionForKaloriApp{
  margin-left: 8px;
}

.videoDescriptionForGymApp a, .videoDescriptionForKaloriApp a {
  text-decoration: none;
  color: black;
  font-style: italic;
}

/* AngularApp settings */

.titleForProjects {
  display: flex;
  justify-content: center;
  align-items: center;
}

.angularProjectsContiner {
  margin-left: 30%;
  width: 50%;
}

.angularAppVideo {
  width: 321px;
  height: 320px;
}

.videoDescriptionforAngularAppVideo {
  text-align: left;
  width: 300px;
}

.videoDescriptionforAngularAppVideo a {
  text-decoration: none;
  color: black;
  font-style: italic;
}

.videoDescription a {
  text-decoration: none;
  color: black;
  font-style: italic;

}

/* SquareDots settings */

.squareDotsImg {
  width: 321px;
  height: 300px;
  margin: 10px 0 0 100px;
}

.imgDescriptionforsquareDotsImg {
  text-align: left;
  margin: 10px 0px 0px 100px;
  width: 250px;
}

.imgDescriptionforsquareDotsImg a {
  text-decoration: none;
  color: black;
  font-style: italic;

}

/* DataProjectsContainer */

.dataProjectsContainer {
  margin-left: 25%;
  padding-top: 15px;
  width: 50%;
}

.powerBIImg {
  text-align: left;
  margin: 0px 0px 0px 0px;
  width: 500px;
  height: 286px;
}

.videoDescriptionforpowerBI {
  margin: 10px 0 0 0px;
  width: 400px;

}

.tableauVideo {
  text-align: left;
  margin: 0px 0px 0px 150px;
  width: 600px;
  height: 286px;
}

.descriptionfortableauVideo {
  margin: 10px 0 0 210px;
  width: 400px;
}

.descriptionfortableauVideo a {
  text-decoration: none;
  color: black;
  font-style: italic;
}


@media (max-width: 1024px) {

  .gymAppVideoContainer, .kaloriAppVideoContainer {
    width: 240px;
  }

  .kaloriAppVideoContainer{
    margin-left: 30px !important;
  }

  .appVideoForGymApp, .appVideoForKaloriApp {
    height: 490px !important;
  }

  .videoDescriptionForGymApp, .videoDescriptionForKaloriApp{
    margin-left: 10px;
  }

  .videoDescriptionForKaloriApp{
    margin-left: 15px;
  }


}


@media (max-width: 768px) {

  .gymAppVideoContainer, .kaloriAppVideoContainer {
    width: 240px;
  }

  .kaloriAppVideoContainer{
    margin-left: 2px !important;
  }

  .appVideoForGymApp, .appVideoForKaloriApp {
    width: 100%;
  }

}

@media (max-width: 425px) {

  .titleForProjects {
    margin-bottom: 15px;
  }

  .gymAppVideoContainer, .kaloriAppVideoContainer {
    width: 240px;
  }

  .appVideoForGymApp {
    margin-left: 19%;
  }

  .appVideoForGymApp, .appVideoForKaloriApp {
    height: 350px !important;
    width: 170px;
  }

  .videoDescriptionForGymApp h5, .videoDescriptionForKaloriApp h5{
    font-size: 15px;
    margin: 0;
  }

  .videoDescriptionForGymApp{
    margin-left: 40px;
    line-height: 1; /* Ajusta este valor según el espacio que desees */

  }

  .videoDescriptionForKaloriApp{
    margin-left: 8px;
    line-height: 1; /* Ajusta este valor según el espacio que desees */
  }

  .videoDescriptionForGymApp a, .videoDescriptionForKaloriApp a {
    font-size: 10px;
  }

}

@media (max-width: 375px) {

   .titleForProjects {
    margin-bottom: 15px;
  }

  .gymAppVideoContainer{
    width: 100%;
    margin-left: 5px;
  }

  .kaloriAppVideoContainer{
    width: 98%;
  }

  .appVideoForGymApp {
    margin-left: 15px;
  }


  .videoDescriptionForGymApp{
    margin-left: -8px;
    line-height: 1;
  }

  .videoDescriptionForGymApp h5, .videoDescriptionForKaloriApp h5{
    font-size: 15px;
    margin: 0;
  }

  .videoDescriptionForGymApp{
    margin-left: 15px !important;
  }

  .videoDescriptionForGymApp, .videoDescriptionForKaloriApp{
    font-size: 8px;
    margin-left: 7px;
    line-height: 1;
  }



}

@media (max-width: 320px) {

  .titleForProjects {
    margin-bottom: 10px;
  }

  .appVideoForKaloriApp {
    width: 90%;
    height: 90% !important;
    margin-left: 3px;
  }

  .appVideoForGymApp {
    width: 93%;
    height: 90% !important;
    margin-left: 8px;
  }

  .videoDescriptionForGymApp h5, .videoDescriptionForKaloriApp h5{
    font-size: 12px;
    margin: 0;
  }

  .videoDescriptionForGymApp{
    margin-left: 9px !important;
  }

  .videoDescriptionForGymApp, .videoDescriptionForKaloriApp{
    font-size: 4px;
    margin-left: 7px;
    line-height: 1;
  }

}
