<div [appStyle]="colorA" class="header pb-5">

  <span class="material-symbols-outlined palette-icon" (click)="changeColor()">
    palette
  </span>


  @if (languageClick) {
  <span class="material-symbols-outlined language-icon" (click)="changeLanguage('esp')">
    language_us
  </span>
  } @else {
  <span class="material-symbols-outlined language-icon" (click)="changeLanguage('us')">
    language_spanish
  </span>
  }
</div>

<div class="icon-bar" id="scrollNav">
  <span class="material-symbols-outlined palette-icon-sidebar" (click)="changeColor()">
    palette
  </span>
  @if (languageClick) {
  <span class="material-symbols-outlined language-sidebar" (click)="changeLanguage('esp')">
    language_us
  </span>
  } @else {
  <span class="material-symbols-outlined language-sidebar" (click)="changeLanguage('us')">
    language_spanish
  </span>
  }
</div>

<app-header></app-header>
<app-home></app-home>
<app-education></app-education>
<app-work-experience></app-work-experience>
<app-contact></app-contact>
