body {
  margin: 0 !important;
}

.header {
  padding: 1% 0 5px 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-bar {
  position: fixed;
  transform: translateY(-50%);
  transition: opacity 0.3s ease;
  opacity: 0;
  padding: 1% 0 5px 2%;
  margin-top: -35px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* ICONOS PALETTE AND LANGUAGE */

.left-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-icons {
  font-size: 35px;
  margin-right: 1.5%;
}

.right-icons>a {
  margin-right: 10px;
  cursor: pointer;
  color: black;
  transition: color 0.3s;
  /* Transición suave al pasar el cursor */
  float: right;
  /* Coloca los elementos hacia la derecha */
}

.right-icons a {
  transition: color 0.3s;
  /* Transición suave al pasar el cursor */
  float: right;
  /* Coloca los elementos hacia la derecha */
}


.language-icon {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  font-size: 50px;
  /* margin-top: 10px;
  margin-right: 20%; */
}

.language-icon:hover {
  transform: scale(1.1);
}

.palette-icon {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  font-size: 48px;
}

.palette-icon:hover {
  transform: scale(1.1);
}


/* DROPDOWN icons */

.language-sidebar {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  font-size: 50px;
  /* margin-right: 20%; */
}

.language-sidebar:hover {
  transform: scale(1.1);
}

.palette-icon-sidebar {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  font-size: 48px;
  margin-right: 1%;
}

.palette-icon-sidebar:hover {
  transform: scale(1.1);
}

.palette-icon-sidebar:active {
  transform: scale(1.5);
  transition: transform 0.2s ease-in-out;
}


/* RESPONSIVE */
@media (max-width: 1024px) {}

@media (max-width: 768px) {

  .language-icon,
  .palette-icon {
    font-size: 40px;
  }

  .right-icons {
    font-size: 25px;
  }

  .right-icons {
    margin-right: 0px !important;
  }

  .language-sidebar,
  .palette-icon-sidebar {
    font-size: 40px;
  }

}

@media (max-width: 425px) {

  .header{
    /* padding-left: 13px; */
  }

  .language-icon{
    position: absolute;
    left: 45px;
  }

  .palette-icon{
    position: absolute;
    cursor: pointer;
    transition: transform 0.3s ease-in-out !important;
  }

  .palette-icon-sidebar {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }


  .icon-bar {
    position: fixed;
    transform: translateY(-50%);
    transition: opacity 0.3s ease;
    opacity: 0;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 16%;
  }

  .palette-icon-sidebar {
    margin: 12 0 10 120px !important;
    position: absolute;
    top: -45px;
    left: 21.5px;
  }

  .language-sidebar {
    position: absolute;
    top: -14px;
    left: 21.5px;
  }

  .fa-github-sidebar {
    position: absolute;
    bottom: -38px;
    left: 27px;
  }

  .fa-envelope-sidebar {
    position: absolute;
    bottom: -70px;
    left: 27px;
  }

  .fa-linkedin-sidebar {
    position: absolute;
    left: 28px;
    bottom: -100px !important;
  }

}

@media (max-width: 375px) {

  .language-icon,
  .palette-icon {
    font-size: 35px;
  }

  .language-sidebar,
  .palette-icon-sidebar {
    font-size: 35px;
  }

  .right-icons {
    font-size: 25px;
  }

}

@media (max-width: 320px) {

  .language-icon, .palette-icon, .language-sidebar, .palette-icon-sidebar {
    font-size: 30px;
  }


  .palette-icon-sidebar {
    top: -39px;
  }

  .language-sidebar {
    top: -14px;
  }

  .fa-github-sidebar {
    bottom: -28px;
    left: 25px;
  }

  .fa-envelope-sidebar {
    bottom: -54px;
    left: 25px;
  }

  .fa-linkedin-sidebar {
    left: 26px;
    bottom: -80px !important;
  }


}
